ame-bot/workflows/ame-wf/[WA] Entrada y Router_20260414_03.json
{
  "name": "[WA] Entrada y Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "de667ee7-2ec1-421e-a3bd-16d34202d778",
      "name": "Webhook",
      "webhookId": "f5771d65-9d45-43a3-a481-21aff56427eb"
    },
    {
      "parameters": {
        "jsCode": "// 🔐 Validar API Key de Evolution API\nconst apiKey = $json.headers['apikey'] || $json.headers['x-api-key'] || '';\nconst expected = $env.EVOLUTION_APIKEY || '';\nif (expected && apiKey !== expected) throw new Error('Unauthorized: Invalid Evolution API key');\nreturn [{ json: $json }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [208, 0],
      "id": "validate-apikey-001",
      "name": "Validar API Key (Code)"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            {
              "id": "filter-fromme",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equals" }
            },
            {
              "id": "filter-protocol",
              "leftValue": "={{ $json.body.data.messageType }}",
              "rightValue": "protocolMessage",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [432, 0],
      "id": "7c2786a7-33a9-4d7f-a67e-34c9b859310a",
      "name": "Filtrar Mensajes Válidos (IF)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "phone", "value": "={{ $json.body.data.key.remoteJid.split('@')[0] }}", "type": "string" },
            { "id": "a2", "name": "message", "value": "={{ $json.body.data.message.conversation ?? $json.body.data.message.extendedTextMessage?.text ?? '' }}", "type": "string" },
            { "id": "a3", "name": "pushName", "value": "={{ $json.body.data.pushName }}", "type": "string" },
            { "id": "a4", "name": "msgId", "value": "={{ $json.body.data.key.id }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [656, -128],
      "id": "cb06a455-e19b-4112-9fb2-1820b6d73b6a",
      "name": "Normalizar Datos (Set)"
    },
    {
      "parameters": {
        "jsCode": "// 🚦 ANTI-BAN: Rate Limiting\n// Genera clave por teléfono + hora actual\nconst phone = $json.phone;\nconst hour = new Date().toISOString().slice(0, 13).replace('T', '_');\nconst rateKey = `wa_rate_${phone}_${hour}`;\nreturn [{ json: { ...$json, rateKey } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, -128],
      "id": "rate-key-001",
      "name": "Generar Clave Rate Limit (Code)"
    },
    {
      "parameters": {
        "operation": "incr",
        "key": "={{ $json.rateKey }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1104, -128],
      "id": "rate-incr-001",
      "name": "Incrementar Contador Rate (Redis INCR)",
      "credentials": {
        "redis": { "id": "Dk1qZGgN6fFK7lop", "name": "Redis AME" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Verificar si se supera el límite y si es el primer mensaje de la hora\nconst count = parseInt($json.value || '0');\nconst limit = parseInt($env.WA_RATE_LIMIT_PER_HOUR || '15');\nconst phone = $('Normalizar Datos (Set)').first().json.phone;\nconst rateKey = $('Generar Clave Rate Limit (Code)').first().json.rateKey;\nconst message = $('Normalizar Datos (Set)').first().json.message;\nconst pushName = $('Normalizar Datos (Set)').first().json.pushName;\nconst msgId = $('Normalizar Datos (Set)').first().json.msgId;\nreturn [{ json: { rateCount: count, rateKey, phone, message, pushName, msgId, isFirst: count === 1, rateBlocked: count > limit } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1328, -128],
      "id": "rate-check-001",
      "name": "Verificar Rate Limit (Code)"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            {
              "id": "rate-first-check",
              "leftValue": "={{ $json.isFirst }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1552, -224],
      "id": "rate-first-if-001",
      "name": "¿Primer Msg de la Hora? (IF)"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Verificar Rate Limit (Code)').first().json.rateKey }}",
        "value": "1",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1776, -320],
      "id": "rate-ttl-001",
      "name": "Fijar TTL Rate Limit (Redis SET)",
      "credentials": {
        "redis": { "id": "Dk1qZGgN6fFK7lop", "name": "Redis AME" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            {
              "id": "rate-blocked-check",
              "leftValue": "={{ $('Verificar Rate Limit (Code)').first().json.rateBlocked }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1776, -128],
      "id": "rate-blocked-if-001",
      "name": "¿Rate Limit Superado? (IF)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://ame-evolution:8080/message/sendText/{{ $env.EVOLUTION_INSTANCE }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $('Verificar Rate Limit (Code)').first().json.phone, text: 'Estás enviando demasiados mensajes. Por favor espera unos minutos antes de continuar. 🙏', options: { delay: 1000, presence: 'composing' } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2000, -32],
      "id": "rate-msg-001",
      "name": "WA: Demasiados Mensajes",
      "credentials": {
        "httpHeaderAuth": { "id": "EyeXJfTyrFXoF9U3", "name": "Evolution API Auth" }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "value",
        "key": "=wa_msg_{{ $('Verificar Rate Limit (Code)').first().json.msgId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [2000, -224],
      "id": "dedup-get-001",
      "name": "Dedup: ¿msgId existe? (Redis GET)",
      "credentials": {
        "redis": { "id": "Dk1qZGgN6fFK7lop", "name": "Redis AME" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            {
              "id": "dedup-empty-check",
              "leftValue": "={{ $json.value }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "empty", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [2224, -224],
      "id": "dedup-if-001",
      "name": "¿Mensaje Nuevo? (IF)"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=wa_msg_{{ $('Normalizar Datos (Set)').item.json.msgId }}",
        "value": "1",
        "expire": true,
        "ttl": 60
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [2448, -320],
      "id": "dedup-set-001",
      "name": "Marcar msgId procesado (Redis SET 60s)",
      "credentials": {
        "redis": { "id": "Dk1qZGgN6fFK7lop", "name": "Redis AME" }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "value",
        "key": "=wa_session_{{ $('Normalizar Datos (Set)').item.json.phone }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [2672, -320],
      "id": "session-get-001",
      "name": "Buscar Sesión (Redis GET)",
      "credentials": {
        "redis": { "id": "Dk1qZGgN6fFK7lop", "name": "Redis AME" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            {
              "id": "session-active-check",
              "leftValue": "={{ $json.value }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [2896, -320],
      "id": "session-active-if-001",
      "name": "¿Sesión Activa? (IF)"
    },
    {
      "parameters": {
        "jsCode": "// Parsear sesión y verificar inactividad\nconst raw = $json.value;\nlet session = {};\ntry { session = JSON.parse(raw); } catch(e) { session = {}; }\n\nconst inactivityH = parseInt($env.WA_INACTIVITY_CLOSE_H || '4');\nconst lastActivity = session.lastActivity ? new Date(session.lastActivity) : null;\nlet sessionStale = false;\n\nif (lastActivity && inactivityH > 0) {\n  const hoursSince = (Date.now() - lastActivity.getTime()) / (1000 * 60 * 60);\n  sessionStale = hoursSince > inactivityH;\n}\n\nconst phone = $('Normalizar Datos (Set)').first().json.phone;\nconst message = $('Normalizar Datos (Set)').first().json.message;\nconst pushName = $('Normalizar Datos (Set)').first().json.pushName;\n\nreturn [{ json: { phone, message, pushName, sessionStale, session, orderId: session.orderId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3120, -416],
      "id": "inactivity-check-001",
      "name": "Verificar Inactividad (Code)"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            {
              "id": "stale-check",
              "leftValue": "={{ $json.sessionStale }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [3344, -416],
      "id": "stale-if-001",
      "name": "¿Sesión Inactiva? (IF)"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=wa_session_{{ $json.phone }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [3568, -512],
      "id": "del-stale-001",
      "name": "Eliminar Sesión Inactiva (Redis DEL)",
      "credentials": {
        "redis": { "id": "Dk1qZGgN6fFK7lop", "name": "Redis AME" }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "p1", "name": "phone", "value": "={{ $('Normalizar Datos (Set)').item.json.phone }}", "type": "string" },
            { "id": "p2", "name": "message", "value": "={{ $('Normalizar Datos (Set)').item.json.message }}", "type": "string" },
            { "id": "p3", "name": "pushName", "value": "={{ $('Normalizar Datos (Set)').item.json.pushName }}", "type": "string" },
            { "id": "p4", "name": "orderId", "value": "={{ JSON.parse($('Buscar Sesión (Redis GET)').item.json.value).orderId }}", "type": "string" },
            { "id": "p5", "name": "sessionData", "value": "={{ JSON.parse($('Buscar Sesión (Redis GET)').item.json.value) }}", "type": "object" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [3568, -320],
      "id": "d44dd4a1-f6fb-4c1e-94d0-b3e780e2a791",
      "name": "Parsear Sesión (Set)"
    },
    {
      "parameters": {
        "jsCode": "// Extraer ORD-ID del mensaje (sesión inactiva o nueva)\nconst message = $('Normalizar Datos (Set)').first().json.message;\nconst phone = $('Normalizar Datos (Set)').first().json.phone;\nconst pushName = $('Normalizar Datos (Set)').first().json.pushName;\nconst match = message.match(/ORD-[A-Z0-9]+/i);\nconst orderId = match ? match[0].toUpperCase() : null;\nreturn [{ json: { phone, message, pushName, orderId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3792, -192],
      "id": "c324ca62-f676-4d8b-8446-25eb2e5e22af",
      "name": "Extraer Order ID (Code)"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            {
              "id": "has-order-check",
              "leftValue": "={{ $json.orderId }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [4016, -192],
      "id": "49bcdba1-56fe-430d-9cb0-e75c79b1a6d5",
      "name": "¿Tiene Order ID? (IF)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://ame-evolution:8080/message/sendText/{{ $env.EVOLUTION_INSTANCE }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $json.phone, text: '👋 ¡Hola! Para atenderte necesito el número de tu orden. Lo encuentras en el resumen de tu compra (Ej: ORD-260407001).', options: { delay: Math.floor(Math.random() * 2000 + 1000), presence: 'composing' } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [4240, -96],
      "id": "16394f37-ed7c-40c7-b642-11aa47b98c02",
      "name": "Pedir ORD-ID al Cliente",
      "credentials": {
        "httpHeaderAuth": { "id": "EyeXJfTyrFXoF9U3", "name": "Evolution API Auth" }
      }
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:3000/api/n8n/orders/{{ $json.orderId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [4240, -288],
      "id": "87b2eb2f-8548-403c-ba90-0c2ca45eab68",
      "name": "Obtener Datos de la Orden",
      "credentials": {
        "httpHeaderAuth": { "id": "1vgr1GsTDXKUulSp", "name": "AME Backend API" }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=wa_session_{{ $('Normalizar Datos (Set)').item.json.phone }}",
        "value": "={{ JSON.stringify({ orderId: $json.id, customerName: $json.customerName, customerPhone: $json.customerPhone, total: $json.total, status: $json.status, validationCode: $json.validationCode, paymentMethod: $json.paymentMethod, deliveryMethod: $json.deliveryMethod, lastActivity: new Date().toISOString() }) }}",
        "expire": true,
        "ttl": "={{ parseInt($env.WA_SESSION_TTL_S || '86400') }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [4464, -288],
      "id": "4ec21b75-581f-4cab-b6c2-2693cb42135f",
      "name": "Guardar sesión (Redis SET)",
      "credentials": {
        "redis": { "id": "Dk1qZGgN6fFK7lop", "name": "Redis AME" }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=wa_order_{{ $('Obtener Datos de la Orden').item.json.id }}",
        "value": "={{ $('Normalizar Datos (Set)').item.json.phone }}",
        "expire": true,
        "ttl": "={{ parseInt($env.WA_SESSION_TTL_S || '86400') }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [4688, -288],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567805",
      "name": "Índice Inverso (Redis SET wa_order)",
      "credentials": {
        "redis": { "id": "Dk1qZGgN6fFK7lop", "name": "Redis AME" }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "n1", "name": "phone", "value": "={{ $('Normalizar Datos (Set)').item.json.phone }}", "type": "string" },
            { "id": "n2", "name": "message", "value": "={{ $('Normalizar Datos (Set)').item.json.message }}", "type": "string" },
            { "id": "n3", "name": "pushName", "value": "={{ $('Normalizar Datos (Set)').item.json.pushName }}", "type": "string" },
            { "id": "n4", "name": "orderId", "value": "={{ $('Obtener Datos de la Orden').item.json.id }}", "type": "string" },
            {
              "id": "n5",
              "name": "sessionData",
              "value": "={{ { orderId: $('Obtener Datos de la Orden').item.json.id, customerName: $('Obtener Datos de la Orden').item.json.customerName, customerPhone: $('Obtener Datos de la Orden').item.json.customerPhone, total: $('Obtener Datos de la Orden').item.json.total, status: $('Obtener Datos de la Orden').item.json.status, validationCode: $('Obtener Datos de la Orden').item.json.validationCode, paymentMethod: $('Obtener Datos de la Orden').item.json.paymentMethod, deliveryMethod: $('Obtener Datos de la Orden').item.json.deliveryMethod, lastActivity: new Date().toISOString() } }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [4912, -288],
      "id": "b7b3842f-11dd-485a-bf06-17cc1e133c6f",
      "name": "Normalizar Salida"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MH2y9fhgIlnrXSqH",
          "mode": "list",
          "cachedResultUrl": "/workflow/MH2y9fhgIlnrXSqH",
          "cachedResultName": "[WA] Agente IA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $json.phone }}",
            "message": "={{ $json.message }}",
            "pushName": "={{ $json.pushName }}",
            "orderId": "={{ $json.orderId }}",
            "sessionData": "={{ $json.sessionData }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "phone", "displayName": "phone", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "message", "displayName": "message", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "pushName", "displayName": "pushName", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "orderId", "displayName": "orderId", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "sessionData", "displayName": "sessionData", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": { "waitForSubWorkflow": true }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [5136, -352],
      "id": "25fee0a5-6e05-410c-bc64-41dc43ffe76b",
      "name": "Call '[WA] Agente IA'"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": { "responseCode": 200 }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [5360, 160],
      "id": "bac3187c-7760-4407-a9df-6ecf1ab2eec6",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": { "main": [[{ "node": "Validar API Key (Code)", "type": "main", "index": 0 }]] },
    "Validar API Key (Code)": { "main": [[{ "node": "Filtrar Mensajes Válidos (IF)", "type": "main", "index": 0 }]] },
    "Filtrar Mensajes Válidos (IF)": {
      "main": [
        [{ "node": "Normalizar Datos (Set)", "type": "main", "index": 0 }],
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    },
    "Normalizar Datos (Set)": { "main": [[{ "node": "Generar Clave Rate Limit (Code)", "type": "main", "index": 0 }]] },
    "Generar Clave Rate Limit (Code)": { "main": [[{ "node": "Incrementar Contador Rate (Redis INCR)", "type": "main", "index": 0 }]] },
    "Incrementar Contador Rate (Redis INCR)": { "main": [[{ "node": "Verificar Rate Limit (Code)", "type": "main", "index": 0 }]] },
    "Verificar Rate Limit (Code)": { "main": [[{ "node": "¿Primer Msg de la Hora? (IF)", "type": "main", "index": 0 }]] },
    "¿Primer Msg de la Hora? (IF)": {
      "main": [
        [{ "node": "Fijar TTL Rate Limit (Redis SET)", "type": "main", "index": 0 }],
        [{ "node": "¿Rate Limit Superado? (IF)", "type": "main", "index": 0 }]
      ]
    },
    "Fijar TTL Rate Limit (Redis SET)": { "main": [[{ "node": "¿Rate Limit Superado? (IF)", "type": "main", "index": 0 }]] },
    "¿Rate Limit Superado? (IF)": {
      "main": [
        [{ "node": "WA: Demasiados Mensajes", "type": "main", "index": 0 }],
        [{ "node": "Dedup: ¿msgId existe? (Redis GET)", "type": "main", "index": 0 }]
      ]
    },
    "WA: Demasiados Mensajes": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] },
    "Dedup: ¿msgId existe? (Redis GET)": { "main": [[{ "node": "¿Mensaje Nuevo? (IF)", "type": "main", "index": 0 }]] },
    "¿Mensaje Nuevo? (IF)": {
      "main": [
        [{ "node": "Marcar msgId procesado (Redis SET 60s)", "type": "main", "index": 0 }],
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    },
    "Marcar msgId procesado (Redis SET 60s)": { "main": [[{ "node": "Buscar Sesión (Redis GET)", "type": "main", "index": 0 }]] },
    "Buscar Sesión (Redis GET)": { "main": [[{ "node": "¿Sesión Activa? (IF)", "type": "main", "index": 0 }]] },
    "¿Sesión Activa? (IF)": {
      "main": [
        [{ "node": "Verificar Inactividad (Code)", "type": "main", "index": 0 }],
        [{ "node": "Extraer Order ID (Code)", "type": "main", "index": 0 }]
      ]
    },
    "Verificar Inactividad (Code)": { "main": [[{ "node": "¿Sesión Inactiva? (IF)", "type": "main", "index": 0 }]] },
    "¿Sesión Inactiva? (IF)": {
      "main": [
        [{ "node": "Eliminar Sesión Inactiva (Redis DEL)", "type": "main", "index": 0 }],
        [{ "node": "Parsear Sesión (Set)", "type": "main", "index": 0 }]
      ]
    },
    "Eliminar Sesión Inactiva (Redis DEL)": { "main": [[{ "node": "Extraer Order ID (Code)", "type": "main", "index": 0 }]] },
    "Parsear Sesión (Set)": { "main": [[{ "node": "Call '[WA] Agente IA'", "type": "main", "index": 0 }]] },
    "Extraer Order ID (Code)": { "main": [[{ "node": "¿Tiene Order ID? (IF)", "type": "main", "index": 0 }]] },
    "¿Tiene Order ID? (IF)": {
      "main": [
        [{ "node": "Obtener Datos de la Orden", "type": "main", "index": 0 }],
        [{ "node": "Pedir ORD-ID al Cliente", "type": "main", "index": 0 }]
      ]
    },
    "Obtener Datos de la Orden": { "main": [[{ "node": "Guardar sesión (Redis SET)", "type": "main", "index": 0 }]] },
    "Guardar sesión (Redis SET)": { "main": [[{ "node": "Índice Inverso (Redis SET wa_order)", "type": "main", "index": 0 }]] },
    "Índice Inverso (Redis SET wa_order)": { "main": [[{ "node": "Normalizar Salida", "type": "main", "index": 0 }]] },
    "Normalizar Salida": { "main": [[{ "node": "Call '[WA] Agente IA'", "type": "main", "index": 0 }]] },
    "Pedir ORD-ID al Cliente": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] },
    "Call '[WA] Agente IA'": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "binaryMode": "separate", "availableInMCP": false },
  "versionId": "wf1-v3-20260414-antiban",
  "meta": { "templateCredsSetupCompleted": true, "instanceId": "1dfc926512b12d6a905e106ddbc3468cb0be558e17b3a86d6f552f9f3ea5779f" },
  "id": "yp0xcLnB0xGe8IeJ",
  "tags": [{ "createdAt": "2026-04-14", "updatedAt": "2026-04-14", "id": "wf-tag-router", "name": "whatsapp" }]
}
