ame-bot/workflows/ame-wf/back/[WA] Agente IA_3.json
{
  "name": "[WA] Agente IA_3",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "phone"
            },
            {
              "name": "message"
            },
            {
              "name": "customerName"
            },
            {
              "name": "orderId"
            },
            {
              "name": "sessionData"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1184,
        96
      ],
      "id": "a86fb26a-e6e2-4fed-8b48-70d7e3e25f4a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').first().json.message }}",
        "options": {
          "systemMessage": "Eres AME-bot, asistente virtual de The Tailor Marketplace (Lima, Perú).\nAtiendes clientes que ya realizaron una compra y fueron redirigidos por WhatsApp.\n\nDATOS DE LA SESIÓN ACTUAL:\n- Order ID: {{ $('When Executed by Another Workflow').first().json.orderId }}\n- Cliente: {{ $('When Executed by Another Workflow').first().json.sessionData.customerName }}\n- Total: S/ {{ $('When Executed by Another Workflow').first().json.sessionData.total }}\n- Estado: {{ $('When Executed by Another Workflow').first().json.sessionData.status }}\n- Pago: {{ $('When Executed by Another Workflow').first().json.sessionData.paymentMethod }}\n- Entrega: {{ $('When Executed by Another Workflow').first().json.sessionData.deliveryMethod }}\n\nREGLAS ESTRICTAS:\n1. Saluda al cliente por su nombre en el primer mensaje.\n2. Confirma el resumen de la orden al inicio (ID, total, método de pago).\n3. Para cancelar o hacer cambios, PRIMERO valida identidad con validate_customer_identity.\n4. NUNCA pases a IN_PROGRESS; eso lo hace el asesor humano desde el panel admin.\n5. Usa get_order_details para datos actualizados, no inventes información.\n6. Responde en español, brevemente. Máximo 3 oraciones por mensaje.\n7. Si no puedes resolver algo: 'Un asesor te contactará pronto. ¡Gracias!'\n8. Solo usa update_order_status para CANCELLED, con validación previa.\n9. Para entregar el link de seguimiento usa send_tracking_link.\n\nCIERRE DE SESIÓN:\n- Cuando la consulta esté COMPLETAMENTE resuelta (info entregada, cancelación confirmada, tracking enviado), agrega EXACTAMENTE al final de tu mensaje: [SESIÓN_CERRADA]\n- NO uses [SESIÓN_CERRADA] si el cliente podría tener más preguntas pendientes.\n- Ejemplo: 'Tu link de seguimiento: ... ¡Que tengas un buen día! [SESIÓN_CERRADA]'"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -928,
        96
      ],
      "id": "f2b66164-a481-41cd-b75d-316cbd07b96e",
      "name": "AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "qwen2.5:7b",
        "options": {
          "temperature": 0.3,
          "numCtx": 4096
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -1056,
        304
      ],
      "id": "c85ebf4a-3541-4314-9a71-d9d796a6b5aa",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "r58Bxg3GBZhe0DmR",
          "name": "Ollama Local"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When Executed by Another Workflow').first().json.phone }}",
        "tableName": "n8n_chat_history",
        "contextWindowLength": 8
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -912,
        304
      ],
      "id": "458b5e12-79b1-4236-8216-515e16a18c1d",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "SuPHDh4fMwdEfcEu",
          "name": "Postgress AME"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Obtiene el detalle completo y actualizado de una orden. Úsalo cuando el cliente pregunte por su pedido, estado, items o necesites datos frescos.",
        "url": "={{ $env.APP_DOMAIN }}/api/n8n/orders/{{ $fromAI('order_id', 'El ID de la orden, ejemplo: ORD-260407001') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -1024,
        576
      ],
      "id": "12425416-13de-4326-a817-3fa5c82c6975",
      "name": "get_order_details",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1vgr1GsTDXKUulSp",
          "name": "AME Backend API"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Valida la identidad del cliente con su documento (DNI/RUC/CE) y código validador de 6 caracteres. Úsalo SIEMPRE antes de cancelar o hacer cambios.",
        "method": "POST",
        "url": "={{ $env.APP_DOMAIN }}/api/n8n/orders/validate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ documentNumber: $fromAI('document_number', 'Número de documento del cliente'), validationCode: $fromAI('validation_code', 'Código validador de 6 caracteres') }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -864,
        576
      ],
      "id": "22c67807-ab21-4351-8027-26070632cafe",
      "name": "validate_customer_identity",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1vgr1GsTDXKUulSp",
          "name": "AME Backend API"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Actualiza el estado de la orden. SOLO para CANCELLED, previa validación de identidad. NUNCA uses IN_PROGRESS.",
        "method": "POST",
        "url": "={{ $env.APP_DOMAIN }}/api/webhooks/orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WEBHOOK_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ orderId: $fromAI('order_id', 'ID de la orden'), newStatus: $fromAI('new_status', 'Solo CANCELLED es válido desde aquí') }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -704,
        576
      ],
      "id": "4c4d963c-cb9e-4e3b-a2eb-a882a00f7851",
      "name": "update_order_status"
    },
    {
      "parameters": {
        "toolDescription": "Agrega o elimina productos de una orden PENDING. action: ADD o REMOVE. Requiere validación previa para REMOVE.",
        "method": "PATCH",
        "url": "={{ $env.APP_DOMAIN }}/api/n8n/orders/{{ $fromAI('order_id') }}/items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action: $fromAI('action', 'ADD o REMOVE'), productId: $fromAI('product_id'), size: $fromAI('size', 'Talla o null'), quantity: $fromAI('quantity', 'Número entero positivo') }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -544,
        576
      ],
      "id": "d6db00bb-c720-46f5-adbb-7b3536f191a2",
      "name": "modify_order_items",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1vgr1GsTDXKUulSp",
          "name": "AME Backend API"
        }
      }
    },
    {
      "parameters": {
        "description": "Genera el link de seguimiento de la orden para el cliente.",
        "jsCode": "const orderId = $fromAI('order_id', 'ID de la orden');\nconst validationCode = $fromAI('validation_code', 'Código validador');\nconst domain = $env.APP_DOMAIN;\nif (!orderId || !validationCode) return { error: 'Se necesitan orderId y validationCode.' };\nconst link = `${domain}/order/${orderId}?token=${validationCode}`;\nreturn { trackingLink: link, message: `🔍 Sigue tu pedido aquí: ${link}` };"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -384,
        576
      ],
      "id": "5381868e-77b5-4794-a1d2-1f4830723e5f",
      "name": "send_tracking_link"
    },
    {
      "parameters": {
        "jsCode": "// ✅ ANTI-BAN: Procesar output del agente\n// 1. Detectar [SESIÓN_CERRADA]\n// 2. Calcular delay humanizado aleatorio\nconst rawOutput = $json.output || '';\nconst shouldClose = rawOutput.includes('[SESIÓN_CERRADA]');\nconst cleanText = rawOutput.replace('[SESIÓN_CERRADA]', '').trim();\n\nconst minMs = parseInt($env.WA_TYPING_MIN_S || '1') * 1000;\nconst maxMs = parseInt($env.WA_TYPING_MAX_S || '4') * 1000;\nconst delay = Math.floor(Math.random() * (maxMs - minMs) + minMs);\n\nconst phone = $('When Executed by Another Workflow').first().json.phone;\nconst sessionData = $('When Executed by Another Workflow').first().json.sessionData || {};\n\nreturn [{ json: { cleanText, shouldClose, phone, delay, sessionData, orderId: sessionData.orderId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        -16
      ],
      "id": "72742fd1-5912-402a-a15f-25d70e12f8f0",
      "name": "Procesar Output del Agente (Code)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://ame-evolution:8080/message/sendText/{{ $env.EVOLUTION_INSTANCE }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $json.phone, text: $json.cleanText, options: { delay: $json.delay, presence: 'composing' } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -448,
        96
      ],
      "id": "04ed5b1e-4bf8-4103-8f93-f40781555859",
      "name": "Enviar Respuesta por WhatsApp",
      "credentials": {
        "httpHeaderAuth": {
          "id": "EyeXJfTyrFXoF9U3",
          "name": "Evolution API Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Mensaje de fallback con delay humanizado\nconst minMs = parseInt($env.WA_TYPING_MIN_S || '1') * 1000;\nconst maxMs = parseInt($env.WA_TYPING_MAX_S || '3') * 1000;\nconst delay = Math.floor(Math.random() * (maxMs - minMs) + minMs);\nconst phone = $('When Executed by Another Workflow').first().json.phone;\nreturn [{ json: { phone, delay, cleanText: 'Lo sentimos, ocurrió un error procesando tu solicitud. Un asesor te contactará pronto. 🙏' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        288
      ],
      "id": "13182659-b40c-46cb-bdb7-d59096195eb9",
      "name": "Preparar Fallback con Delay (Code)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://ame-evolution:8080/message/sendText/{{ $env.EVOLUTION_INSTANCE }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $json.phone, text: $json.cleanText, options: { delay: $json.delay, presence: 'composing' } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -448,
        288
      ],
      "id": "40a3464e-5387-4c13-aedc-9b337901f0d7",
      "name": "Enviar Mensaje de Fallback",
      "credentials": {
        "httpHeaderAuth": {
          "id": "EyeXJfTyrFXoF9U3",
          "name": "Evolution API Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "close-session-check",
              "leftValue": "={{ $json.shouldClose }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        96
      ],
      "id": "ad3f274c-53e6-4a84-8c6a-e8edadd440e8",
      "name": "¿Cerrar Sesión? (IF)"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=wa_session_{{ $json.phone }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "157cc13b-7002-4471-9c41-4d01806eebf4",
      "name": "Eliminar Sesión (Redis DEL)",
      "credentials": {
        "redis": {
          "id": "Dk1qZGgN6fFK7lop",
          "name": "Redis AME"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=wa_order_{{ $json.orderId }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "913312e1-3e71-4cf8-8d70-b1a723aa17d7",
      "name": "Eliminar Índice Orden (Redis DEL)",
      "credentials": {
        "redis": {
          "id": "Dk1qZGgN6fFK7lop",
          "name": "Redis AME"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Actualizar lastActivity en la sesión\nconst phone = $json.phone;\nconst sessionData = $json.sessionData || {};\nsessionData.lastActivity = new Date().toISOString();\nreturn [{ json: { phone, updatedSession: JSON.stringify(sessionData) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        176
      ],
      "id": "b959f79e-f690-44f6-8eb7-77e9b2a65695",
      "name": "Actualizar lastActivity (Code)"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=wa_session_{{ $json.phone }}",
        "value": "={{ $json.updatedSession }}",
        "expire": true,
        "ttl": "={{ parseInt($env.WA_SESSION_TTL_S || '86400') }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        224,
        176
      ],
      "id": "295ba3e7-1bba-494b-8e72-24ae5e850794",
      "name": "Guardar Sesión Actualizada (Redis SET)",
      "credentials": {
        "redis": {
          "id": "Dk1qZGgN6fFK7lop",
          "name": "Redis AME"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "get_order_details": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "validate_customer_identity": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "update_order_status": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "modify_order_items": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "send_tracking_link": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Procesar Output del Agente (Code)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Fallback con Delay (Code)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Output del Agente (Code)": {
      "main": [
        [
          {
            "node": "Enviar Respuesta por WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Fallback con Delay (Code)": {
      "main": [
        [
          {
            "node": "Enviar Mensaje de Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Respuesta por WhatsApp": {
      "main": [
        [
          {
            "node": "¿Cerrar Sesión? (IF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Cerrar Sesión? (IF)": {
      "main": [
        [
          {
            "node": "Eliminar Sesión (Redis DEL)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Actualizar lastActivity (Code)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar Sesión (Redis DEL)": {
      "main": [
        [
          {
            "node": "Eliminar Índice Orden (Redis DEL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar lastActivity (Code)": {
      "main": [
        [
          {
            "node": "Guardar Sesión Actualizada (Redis SET)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0b0e2a6c-0c3c-462e-9a74-34d4ba29e6e2",
  "meta": {
    "instanceId": "1dfc926512b12d6a905e106ddbc3468cb0be558e17b3a86d6f552f9f3ea5779f"
  },
  "id": "FJesVOgJLJwzNVKy",
  "tags": [
    {
      "updatedAt": "2026-04-14T23:13:38.373Z",
      "createdAt": "2026-04-14T23:13:38.373Z",
      "id": "t3QGU09Gh1M8KuLq",
      "name": "whatsapp"
    }
  ]
}